.search__field_button {
    width: 168px;
    height: 64px;
    border: 0;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 0 0;
    margin-right: -3px;
}

.search__field_button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .search__field_button {
        width: 160px;
        height: 56px;
    }
}

@media screen and (max-width: 767px) {
    .search__field_button {
        width: calc(100% - 32px);
        margin: 0 auto 32px;
        padding: 17px 16px;
        box-shadow: none;
    }
}

@media screen and (max-width: 374px) {

}