.tech__container {
    display: flex;
    flex-direction: row;
    margin-left: 192px;
    margin-right: 230px;
    justify-content: space-evenly;
}

@media screen and (max-width: 1439px) {
    .tech__container {
        margin-left: 100px;
        margin-right: 162px;
    }
}