@import url(vendor/normalize.css);
@import url(blocks/header/header.css);
@import url(blocks/search/search.css);
@import url(blocks/glide/glide.css);
/*@import url(node_modules/@glidejs/glide/dist/css/glide.core.min.css);*/
/*@import url(node_modules/@glidejs/glide/dist/css/glide.theme.min.css);*/
@import url(blocks/preloader/preloader.css);
@import url(blocks/not-found/not-found.css);
@import url(blocks/found/found.css);
@import url(blocks/author/author.css);
@import url(blocks/footer/footer.css);
@import url(blocks/info/info.css);
@import url(blocks/tech/tech.css);
@import url(blocks/comment/comment.css);
@import url(blocks/search-results/search-result.css);
@import url(blocks/table/table.css);

@font-face {
    font-family: 'Roboto';
    src: url("<%=require('./fonts/roboto-regular-webfont.woff')%>");
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("<%=require('./fonts/roboto-medium-webfont.woff')%>");
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url("<%=require('./fonts/robotoslab-regular-webfont.woff')%>");
    font-weight: normal;
}

body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', serif;
    background-color: #FFFFFF;
    color: #1A1B22;
}

@media screen and (max-width: 1439px) {
    body {
        width: 100%;
        /*margin: 0 auto;*/
    }
}

@media screen and (max-width: 1279px) {
    body {
        width: 1024px;
        /*margin: 0 auto;*/
    }

}

@media screen and (max-width: 1023px){
    body {
        width: 768px;
        /*margin: 0 auto;*/
    }

}

@media screen and (max-width: 767px){
    body {
        width: 375px;
        /*margin: 0 auto;*/
    }
}

@media screen and (max-width: 374px) {
    body {
        width: 320px;
        /*margin: 0 auto;*/
    }
}