.card {
    width: 400px;
    height: 576px;
    background-color: #FFFFFF;
    border-radius: 15px;
    /*justify-content: space-around;*/
    /*margin: 16px 16px;*/
    margin-bottom: 16px;
    position: relative;
}