@import url(__title/header__title_black.css);
@import url(__title/header__title_white.css);
@import url(../header/__pages/header__pages.css);
@import url(../header/__link/header__link.css);

header {
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-right: 101px;*/
    /*margin-left: 104px;*/
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2)
}

.header__black {
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: inset 0px -1px 0px #D1D2D6;
}








