.search-result__nav {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin-top: 40px;
    margin-bottom: 0;
}

@media screen and (max-width: 374px) {
    .search-result__nav {
        z-index: -1;
        margin: 0 0;
        color: #FFFFFF;
        height: 0;
    }
}