.search__field_input {
    width: 376px;
    /*height: 22px;*/
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin-left: 24px;
    border: 0;
}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
    .search__field_input {
        width: calc(100% - 32px);
        margin: 0 auto 16px;
        border: 1px solid #D1D2D6;
        box-sizing: border-box;
        backdrop-filter: blur(8px);
        border-radius: 100px;
        padding: 17px 16px;
    }
}

@media screen and (max-width: 374px) {}