.found__show-more_button {
    width: 288px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 80px;
    border-style: none;
    margin: 48px auto 80px;
    font-family: 'Roboto', Serif, Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

.found__show-more_button:hover {
    opacity: 0.9;
    cursor: pointer;
}