.glide__card_name {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 104px;
    margin-bottom: 0;
}