.table__names {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    list-style-type: none;
    padding-left: 0;
}

.table__name_date {
    flex-wrap: wrap;
    /*width: 4%;*/
    width: 104px;
    /*margin-right: 50px;*/
}

@media screen and (max-width: 1439px) {

}

@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 1023px){


}

@media screen and (max-width: 767px){
    .table__name_date {
        /*width: 64px;*/
        width: 20%;
        margin-bottom: 8px;
    }
}


@media screen and (max-width: 374px) {
    .table__names {

    }
}