@import url(../author/__image/author__image.css);
@import url(../author/__title/author__title.css);
@import url(../author/__text/author__text.css);

.author {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 1439px) {

}

@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 1023px){

}

@media screen and (max-width: 767px){
    .author {
        flex-direction: column;
    }
}

@media screen and (max-width: 374px) {
   .author {
       flex-direction: column;
   }
}