.table__pair_rectangle-one {
    height: 24px;
    width: 184px;
    background-color: #2F71E5;
    color: #FFFFFF;
    margin-top: 5px;
    display: flex;
    font-family: 'Roboto', Serif, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

@media screen and (max-width: 1439px) {
    .table__pair_rectangle-one {
        width: 12%;
    }
}

@media screen and (max-width: 374px) {
    .table__pair_rectangle-one {
        width: 25%;
    }
}