.glide__card_date {
    font-family: 'Roboto', Arial, Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #B6BCBF;
    margin-top: 24px;
    margin-left: 24px;
}