@import url(../table/__title/table__title.css);
@import url(../table/__names/table__names.css);
@import url(../table/__line/table__line.css);
@import url(../table/__numbers/table__numbers.css);
@import url(../table/__pair/table__pair.css);

.table {
    width: 100%;
    background-color: #F5F6F7;
    padding: 80px 104px;
}

@media screen and (max-width: 1439px) {
    .table {
        padding: 80px 96px;
    }
}

@media screen and (max-width: 1279px) {
    .table {
        padding: 60px 80px;
    }
}

@media screen and (max-width: 1023px){
    .table {
        padding: 40px 40px;
    }

}

@media screen and (max-width: 767px){

}


@media screen and (max-width: 374px) {
    .table {
        padding: 24px 16px;
    }
}